.red {
  color: red;
}
.blue {
  color: blue;
}
.customer {
  display: flex;
}
.imagegrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  row-gap: 10px;
}
.image {
  width: 200px;
  height: 200px;
}

.link {
  color: blue;
  text-decoration: none;  
}
.link:active {
  color: red;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}